.footer-basic {
    padding: 50px 0 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

/*
.icon-try {
  position: absolute;
  top: 133px;
  right: 33%;
} */

.footer-basic .social>a,
.question-container .social>a,
.team-container .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    border-radius: 50%;
}

.text-cyan {
    color: #9ad9e3;
}

.team-container .social>a {
    border-radius: 10%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 18px;
}

.question-container .social a {
    background: #00B8D9;
    border: none;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/* SPECIAL FOOTER THEME FOR MOBILE VIEW */

.footer-basic1 {
    padding: 20px 0 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic1 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic1 li {
    padding: 0 10px;
}

.footer-basic1 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic1 ul a:hover {
    opacity: 1;
}

.footer-basic1 .social {
    text-align: center;
    padding-bottom: 25px;
    margin: auto;
}

/*
.icon-try {
  position: absolute;
  top: 133px;
  right: 33%;
} */

.footer-basic1 .social>a,
.question-container .social>a,
.team-container .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px 8px;
    color: inherit;
    border-radius: 50%;
}

.text-cyan {
    color: #9ad9e3;
}

.team-container .social>a {
    border-radius: 10%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 18px;
}

.question-container .social a {
    background: #00B8D9;
    border: none;
}

.footer-basic1 .social>a:hover {
    opacity: 0.9;
}

.footer-basic1 .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}